@page
@model LoginModel
@{
    ViewData["Title"] = "Đăng nhập";
}

<div class="user-login container-fluid bg-white h-100" style="overflow-y: hidden; overflow-x: hidden">
    <div class="row">
        <div class="col-md-6 px-0">
            <img src="~/img/log-in-2.jpg" alt="Login image" class="d-none d-md-block w-100 vh-100" style="object-fit:cover">
        </div>
        <div class="col-md-6 my-auto">
            <div class="d-flex justify-content-center fw-bold login-signup">
                <div class="login" style="padding-right: 1.5rem">
                    <a>Đăng nhập</a>
                </div>
                <div class="signup" style="padding-left: 1.5rem">
                    <a asp-page="/Guest/Signup" class="text-dark">Đăng ký</a>
                </div>
            </div>
            <form method="post">
                <p class="row justify-content-center" style="color: red; font-size: 13px">@Model.Message</p>
                <div class="form-group row justify-content-center">
                    <div class="col-sm-10 col-md-10 col-lg-9 mb-3 mt-4">
                        <label for="email" class="form-label">Tên đăng nhập</label>
                        <input type="email" asp-for="@Model.Email" class="form-control" id="email"  placeholder="Nhập email của bạn" required>
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <div class="col-sm-10 col-md-10 col-lg-9 mb-4">
                        <label for="pwd" class="form-label">Mật khẩu</label>
                        <input type="password" asp-for="@Model.Password" class="form-control" id="pwd"  placeholder="Nhập mật khẩu của bạn" required>
                    </div>
                </div>
                <div class="row form-group justify-content-center forgot">
                    <div class="col-sm-10 col-md-10 col-lg-9 mb-4">
                        <a asp-page="/Guest/ForgotPwd" class="fw-bold" style="color: var(--primary-color)">Quên mật khẩu?</a>
                    </div>
                </div>
                <div class="row justify-content-center form-group">
                    <div class="col-sm-10 col-md-10 col-lg-9">
                        <button type="submit" class="btn btn-primary btn-lg" style="width: 100%">Đăng nhập</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
