@page
@model AddAdminModel
@{
    ViewData["Title"] = "Thêm nhân viên";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-10 m-0 p-0 content">
        <div class="form-container">
            <div class="form-heading">
                <p>Thêm mới admin</p>
            </div>
            <div class="form-body">
                <form>
                    <div class="form-row form__row">
                        <div class="form-group col-md-6">
                            <label for="inputName" class="form__label">Tên admin</label>
                            <input type="text" class="form-control form__input" id="inputName" placeholder="Nhập tên admin">
                        </div>
                    </div>
                    <div class="form-row form__row">
                        <div class="form-group col-md-6">
                            <label for="inputTel" class="form__label">Số điện thoại</label>
                            <input type="text" class="form-control form__input" id="inputTel" placeholder="Nhập số điện thoại">
                        </div>
                    </div>
                    <div class="form-row form__row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail" class="form__label">Email</label>
                            <input type="email" class="form-control form__input" id="inputEmail" placeholder="Nhập email">
                        </div>
                    </div>
                    <div class="form-row form__row">
                        <div class="form-group col-md-6">
                            <label for="inputPassword" class="form__label">Mật khẩu</label>
                            <input type="password" class="form-control form__input" id="inputPassword" placeholder="Nhập mật khẩu">
                        </div>
                    </div>
                    <div class="form-row form__row">
                        <div class="form-group col-md-6">
                            <label for="inputPassword" class="form__label">Nhập lại mật khẩu</label>
                            <input type="password" class="form-control form__input" id="inputPassword" placeholder="Nhập lại mật khẩu">
                        </div>
                    </div>
                    <div class="form-row form__row col-md-6 form__btn-margin">
                        <a class="form-group form__btn" style="margin-right: 4px" asp-area="" asp-page="/Admin/AdminManagement">
                            THÊM MỚI ADMIN
                        </a>
                        <a class="form-group form__btn form__btn--cancel" style="margin-left: 4px" asp-area="" asp-page="/Admin/AdminManagement">
                            HỦY
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</div>
