@page
@using TADA.Utilities;
@model ForgotPwd2Model
@{
    ViewData["Title"] = "Quên mật khẩu";
    Layout = "~/Pages/Shared/_LayoutUser.cshtml";
}
@if (TempData.ContainsKey("ResetSuccessMessage"))
{
    <div class="alert alert-success">
        @TempData["ResetSuccessMessage"]
    </div>
    <script>
        setTimeout(function () {
            window.location.href = "../Authentication/Login";
        }, 2000);
    </script>
}
@if (TempData.ContainsKey("ResetFailedMessage"))
{
    <div class="alert alert-danger">
        @TempData["ResetFailedMessage"]
    </div>
    <script>
        setTimeout(function () {
            window.location.href = "../Authentication/Login";
        }, 2000);
    </script>
}
<div class="container ps-5">
    <h4 class="mt-3 text-uppercase" style="font-weight:700; color: var(--primary-color)">Quên mật khẩu</h4>
    <div class="row bg-white py-4 mt-3 px-4 rounded">
        <div class="col-sm-10 col-md-12">
            <p>Vui lòng nhập mật khẩu mới và mã xác minh mà đã được chúng tôi gửi qua email <a style="color: var(--primary-color)">@UIHelper.HiddenEmail(TempData["Email"].ToString())</a></p>
            <form method="post">
                <div class="form-group row">
                    <div class="col-sm-10 col-md-5 col-lg-4">
                        <label asp-for="NewPassword" class="form-label">Mật khẩu mới</label>
                        <input type="password" class="form-control rounded-0" asp-for="NewPassword" placeholder="Nhập mật khẩu mới">
                        <span class="text-danger" asp-validation-for="NewPassword"></span>
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-sm-10 col-md-5 col-lg-4">
                        <label asp-for="ConfirmPassword" class="form-label">Nhập lại mật khẩu</label>
                        <input type="password" class="form-control rounded-0" asp-for="ConfirmPassword" placeholder="Nhập lại mật khẩu">
                        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <div class="col-sm-10 col-md-5 col-lg-4">
                        <label asp-for="Otp" class="form-label">Mã xác minh</label>
                        <input class="form-control rounded-0" asp-for="Otp" placeholder="Nhập mã xác minh">
                        <span class="text-danger" asp-validation-for="Otp"></span>
                        <span class="text-danger">@TempData["WrongOtp"]</span>
                    </div>
                </div>
                <div class="row form-group mt-4">
                    <div class="col-sm-5 col-md-3 col-lg-2">
                        <button type="submit" class="btn btn-primary btn-md" style="width: 100%">Xác nhận</button>
                    </div>
                </div>
            </form>
            <div class="form-group mt-3" style="width: fit-content">
                <a asp-page="/Guest/ForgotPwd" style="color: var(--primary-color)">Quay trở lại</a>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}