@page
@model BookDetailAdminModel
@{
    ViewData["Title"] = "Book detail ADMIN";
}

<div class="row">
    <div class="col-10 m-0 p-0 content">
        <div class="row bg-white px-3 py-4 mt-3" style="margin: 10px; border-radius: 8px">
            <div class="col-4">
                <div class="bookImage" style="border: 0.5px solid #CCCCCC;">
                    <img src="~/img/book2.jpg" alt="Book image" style="width: 100%; border: 0.5px">
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <button type="button" class="btn-book">
                            Ẩn sách 
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn-book btn-book--primary" >
                            Chỉnh sửa thông tin
                        </button>
                    </div>
                </div>
            </div>
            <div class="book-essential-detail col-8 px-5">
                <h4 class="fw-bold" style="line-height: 36px; font-size: 28px">Tây Sơn Phụng Thần Ký</h4>
                <div class="row mt-4 book-detail__item">
                    <div class="provider col-6">
                        <span>Nhà cung cấp:</span>
                        <span style="color: var(--primary-color); font-weight: bold">Phụ Nữ</span>
                    </div>
                    <div class="author col-6">
                        <span>Tác giả:</span>
                        <span style="font-weight: bold;">Thành Châu</span>
                    </div>
                </div>
                <div class="row mt-4 book-detail__item">
                    <div class="publisher col-6">
                        <span>Nhà xuất bản:</span>
                        <span style="font-weight: bold;">Phụ Nữ Việt Nam</span>
                    </div>
                    <div class="cover col-6">
                        <span>Hình thức bìa:</span>
                        <span style="font-weight: bold;">Bìa mềm</span>
                    </div>
                </div>
                <div class="row" style="margin-top: 40px; font-size: 13px">
                    <div class="rating-star">
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                        <span class="ms-1" style="color: var(--primary-color)">(0 đánh giá)</span>
                    </div>
                </div>
                <div class="book-price mt-4 d-flex align-items-center">
                    <span class="new-price">121.500 đ</span>
                    <span class="old-price">135.000 đ</span>
                    <span class="sale-percent">-10%</span>
                </div>
                <div class="row mt-4">

                </div>
            </div>
        </div>
        <div class="row bg-white mt-3 px-3 py-4" style="margin: 10px; border-radius: 8px">
            <div class="col-12 book-detail__item">
                <h5 style="font-weight: bold; font-size: 16px">Thông tin sách</h5>
                <div class="book-detail">
                    <table>
                        <tbody>
                            <tr>
                                <td>Mã hàng</td>
                                <td>1289137</td>
                            </tr>
                            <tr>
                                <td>Tên nhà cung cấp</td>
                                <td>Phụ Nữ</td>
                            </tr>
                            <tr>
                                <td>Tác giả</td>
                                <td>Thành Châu</td>
                            </tr>
                            <tr>
                                <td>Nhà xuất bản</td>
                                <td>Phụ Nữ Việt Nam</td>
                            </tr>
                            <tr>
                                <td>Năm xuất bản</td>
                                <td>2023</td>
                            </tr>
                            <tr>
                                <td>Thể loại</td>
                                <td>Lịch sử</td>
                            </tr>
                            <tr>
                                <td>Trọng lượng (gr)</td>
                                <td>450</td>
                            </tr>
                            <tr>
                                <td>Kích thước bao bì</td>
                                <td>20.5 x 13.5 cm</td>
                            </tr>
                            <tr>
                                <td>Số trang</td>
                                <td>350</td>
                            </tr>
                            <tr>
                                <td>Hình thức</td>
                                <td>Bìa mềm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 book-desciption mt-3">
                <p style="text-align: justify; font-size: 12px; padding-top: 4px">
                    Đàng Trong năm 1765, chúa Nguyễn Phúc Khoát mất, vương tử lớn nhất là Nguyễn Phúc Luân theo lẽ được lập làm chúa. Ấy vậy mà quyền thần Trương Phúc Loan nổi lên những dã tâm cuồng bá, một tay đổi trắng thay đen, đưa vương tử Nguyễn Phúc Thuần mới chỉ là đứa trẻ mười hai tuổi lên nối ngôi, mang thứ tâm cơ độc tàn làm xáo trộn dòng dõi nhà chúa, để rồi tự thân hắn bán quan, buôn tước, đầy đọa cuộc sống nhân dân đến khốn cùng…
                    <br>
                    <br>
                    Từ ấp Tây Sơn, phủ Quy Nhơn (Bình Định), ba anh em Nguyễn Nhạc, Nguyễn Huệ, Nguyễn Lữ quy tụ dân chúng đứng lên, dần kết thành nghĩa quân “lấy của nhà giàu chia cho dân nghèo”, thế ngày càng mạnh, xung khí tựa như sớm có ngày tung trời nổ đất, càn quét hết nào những quý tộc, quan lại đang “sâu bọ”, chà đạp lên con dân đất Việt…
                    <br>
                    <br>
                    Xứ Bắc Hà, Lê - Trịnh mục nát, vậy mà ý chí nam chinh vẫn cuồn cuộn.
                </p>
            </div>
            <div class="col-12 mt-3 d-flex justify-content-center">
                <button type="button" class="read-more btn-book" style="width: 20%">Xem thêm</button>
            </div>
        </div>
        <div class="row bg-white my-3 px-4 py-4 book-detail__item" style="margin: 10px; border-radius: 8px">
            <h5 style="font-weight: bold; font-size: 16px">Đánh giá sản phẩm</h5>
            <div class="col-12 px-3 d-flex">
                <div class="book-detail__rating" style="">
                    <div class="rating-number" style="text-align: center;">
                        <span style="font-weight: bold; font-size: 4rem">0</span>
                        <span style="font-weight: bold; font-size: 3rem">/5</span>
                    </div>
                    <div class="rating-star" style="margin-top: 4px; text-align: center;">
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                        <div class="mt-1" style="color: var(--primary-color)">(0 đánh giá)</div>
                    </div>
                </div>
                <div class="book-detail__rating-bar">
                    <div class="rating-level">
                        <label for="review-rating-bar">5<i class="fas fa-star"></i></label>
                        <progress id="review-rating-bar" max="100" value="80"></progress>
                        <span class="ms-2">80%</span>
                    </div>
                    <div class="rating-level">
                        <label for="review-rating-bar">4<i class="fas fa-star"></i></label>
                        <progress id="review-rating-bar" max="100" value="0"></progress>
                        <span class="ms-2">0%</span>
                    </div>
                    <div class="rating-level">
                        <label for="review-rating-bar">3<i class="fas fa-star"></i></label>
                        <progress id="review-rating-bar" max="100" value="0"></progress>
                        <span class="ms-2">0%</span>
                    </div>
                    <div class="rating-level">
                        <label for="review-rating-bar">2<i class="fas fa-star"></i></label>
                        <progress id="review-rating-bar" max="100" value="0"></progress>
                        <span class="ms-2">0%</span>
                    </div>
                    <div class="rating-level">
                        <label for="review-rating-bar">1<i class="fas fa-star"></i></label>
                        <progress id="review-rating-bar" max="100" value="0"></progress>
                        <span class="ms-2">0%</span>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex rounded px-3 py-3 align-items-center mt-4" style="background-color: rgba(30, 144, 255, 0.1)">
                <div class="user-image">TT</div>
                <div class="user-information-review ms-3">
                    <div class="user-name" style="font-size: 13px">Thu Thảo</div>
                    <div class="date-review">10/02/2023</div>
                </div>
                <div>
                    <div class="rating-star" style="font-size: 12px; height: 20px">
                        <span class="fas fa-star" style="color: #F6A500; font-weight: bold;"></span>
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                    </div>
                    <div class="user-comment">
                        Truyện không hợp với mình. Cho 1 sao.
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex rounded px-3 py-3 align-items-center mt-2" style="background-color: rgba(30, 144, 255, 0.1)">
                <div class="user-image">QT</div>
                <div class="user-information-review ms-3">
                    <div class="user-name" style="font-size: 13px">Quốc Toàn</div>
                    <div class="date-review">09/02/2023</div>
                </div>
                <div>
                    <div class="rating-star" style="font-size: 12px; height: 20px">
                        <span class="fas fa-star" style="color: #F6A500; font-weight: bold;"></span>
                        <span class="fas fa-star" style="color: #F6A500; font-weight: bold;"></span>
                        <span class="fas fa-star" style="color: #F6A500; font-weight: bold;"></span>
                        <span class="fas fa-star" style="color: #F6A500; font-weight: bold;"></span>
                        <span class="fas fa-star" style="color: #F6A500; font-weight: bold;"></span>
                    </div>
                    <div class="user-comment">
                        Truyện hay. Giao hàng nhanh. Cho 5 sao.
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex rounded px-3 py-3 align-items-center mt-2" style="background-color: rgba(30, 144, 255, 0.1)">
                <div class="user-image">TV</div>
                <div class="user-information-review ms-3">
                    <div class="user-name" style="font-size: 13px">Thoại Vỹ</div>
                    <div class="date-review">08/02/2023</div>
                </div>
                <div>
                    <div class="rating-star" style="font-size: 12px; height: 20px">
                        <span class="fas fa-star" style="color: #F6A500; font-weight: bold;"></span>
                        <span class="fas fa-star" style="color: #F6A500; font-weight: bold;"></span>
                        <span class="fas fa-star" style="color: #F6A500; font-weight: bold;"></span>
                        <span class="fas fa-star" style="color: #F6A500; font-weight: bold;"></span>
                        <span class="fas fa-star"></span>
                    </div>
                    <div class="user-comment">
                        Truyện cũng hay. Shop đóng gói cẩn thận. Cho 4 sao.
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
