@page
@model EditBookModel
@{
    ViewData["Title"] = "Chỉnh sửa sách";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-10 m-0 p-0 content">
        <div class="form-container">
            <div class="form-heading">
                <p>Thêm mới sách</p>
            </div>
            <div class="form-body">
                <form>
                    <div class="form-row form__row">
                        <div class="form-group col-md-6 form-group__left">
                            <label for="inputName" class="form__label">Tên sách</label>
                            <input type="text" class="form-control form__input" id="inputName" placeholder="Nhập tên sách">
                        </div>
                        <div class="form-group col-md-6 form-group__right">
                            <label for="inputId" class="form__label">Mã sách</label>
                            <input type="text" class="form-control form__input" id="inputId" placeholder="Nhập mã sách">
                        </div>
                    </div>
                    <div class="form-row form__row">
                        <div class="form-group col-md-6 form-group__left">
                            <label for="inputAuthor" class="form__label">Tác giả</label>
                            <input type="text" class="form-control form__input" id="inputAuthor" placeholder="Nhập tác giả">
                        </div>
                        <div class="form-group col-md-6 form-group__right">
                            <label for="inputProvider" class="form__label">Nhà cung cấp</label>
                            <input type="text" class="form-control form__input" id="inputProvider" placeholder="Nhập nhà cung cấp">
                        </div>
                    </div>
                    <div class="form-row form__row">
                        <div class="form-group col-md-6 form-group__left">
                            <label for="inputPublisher" class="form__label">Nhà xuất bản</label>
                            <input type="text" class="form-control form__input" id="inputPublisher" placeholder="Nhập nhà xuất bản">
                        </div>
                        <div class="form-group col-md-6 form-group__right">
                            <label for="inputPublishingYear" class="form__label">Năm xuất bản</label>
                            <input type="text" class="form-control form__input" id="inputPublishingYear" placeholder="Nhập năm xuất bản">
                        </div>
                    </div>
                    <div class="form-row form__row">
                        <div class="form-group col-md-6 form-group__left">
                            <label for="inputWeight" class="form__label">Trọng lượng (gr)</label>
                            <input type="text" class="form-control form__input" id="inputWeight" placeholder="Nhập trọng lượng">
                        </div>
                        <div class="form-group col-md-6 form-group__right">
                            <label for="inputSize" class="form__label">Kích thước bao bì (Chiều dài x Chiều rộng)</label>
                            <div class="form-size">
                                <input type="text" class="form-control form__input" style="width:50%; margin-right: 4px" id="inputWidthSize" placeholder="Nhập chiều dài">
                                <input type="text" class="form-control form__input" style="width:50%; margin-left: 4px" id="inputHeightSize" placeholder="Nhập chiều rộng">
                            </div>                        
                        </div>
                    </div>
                    <div class="form-row form__row">
                        <div class="form-group col-md-6 form-group__left">
                            <label for="inputPageNum" class="form__label">Số trang</label>
                            <input type="text" class="form-control form__input" id="inputPageNum" placeholder="Nhập số trang">
                        </div>
                        <div class="form-group col-md-6 form-group__right">
                            <label for="inputCover" class="form__label">Hình thức bìa</label>
                            <input type="text" class="form-control form__input" id="inputCover" placeholder="Nhập hình thức bìa">
                        </div>
                    </div>
                    <div class="form-row form__row">
                        <div class="form-group col-md-6 form-group__left">
                            <label for="inputInitialPrice" class="form__label">Giá ban đầu</label>
                            <input type="text" class="form-control form__input" id="inputInitialPrice" placeholder="Nhập giá ban đầu">
                        </div>
                        <div class="form-group col-md-6 form-group__right">
                            <label for="inputSale" class="form__label">Giảm giá theo phần trăm</label>
                            <input type="text" class="form-control form__input" id="inputSale" placeholder="Nhập số phần trăm giảm giá">
                        </div>
                    </div>
                    <div class="form-row form__row">
                        <div class="form-group col-md-6 form-group__left">
                            <label for="inputRemainingQuantity" class="form__label">Số lượng còn lại</label>
                            <input type="text" class="form-control form__input" id="inputRemainingQuantity" placeholder="Nhập số lượng còn lại">
                        </div>
                        <div class="form-group col-md-6 form-group__right">
                            <label for="formFileMultiple" class="form__label">Hình ảnh</label>
                            <input class="form-control form__input" type="file" id="formFileMultiple" multiple />
                        </div>
                    </div>
                    <div class="form-row form__row">
                        <div class="form-group col-md-12">
                            <label for="inputDescription" class="form__label">Mô tả</label>
                            <input type="text" class="form-control form__input form__input-description" id="inputDescription" maxlength="1000" placeholder="Nhập mô tả">
                        </div>
                    </div>
                    <div class="form-row form__row">
                        <div class="form-group col-md-6">

                        </div>
                        <div class="form-group form-row form__row col-md-6 form__btn-margin">
                            <button class="form-group form__btn" style="margin-right: 4px">
                                CHỈNH SỬA
                            </button>
                            <button class="form-group form__btn form__btn--cancel" style="margin-left: 4px">
                                HỦY
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</div>
