@page
@model OrderListEmptyConfirmModel
@{
    ViewData["Title"] = "Đơn hàng";
    Layout = "_LayoutUser";
    ViewBag.Name = Model.Username;
}

<div id="order-list__all--empty">
    <div class="grid">
        <div class="row">
            <div class="col c-2 c-o-1">
                <div class="nav-oder-list__title nav__order-detail" style="width: 100%; height:auto; border-radius: 8px;">
                    <div class="order__title">
                        Đơn hàng của tôi
                    </div>
                    <div class="nav-order-list__title--detail grid">
                        @if (Model.GetOrderCountByStatus(0) == 0)
                        {
                            <a asp-area="" asp-page="/User/OrderListEmptyAll" class="nav-order-list__link">
                                <p>Tất cả</p>
                            </a>
                        }
                        else
                        {
                            <a asp-area="" asp-page="/User/OrderListFillAll" class="nav-order-list__link">
                                <p>Tất cả</p>
                            </a>
                        }
                        @if (Model.GetOrderCountByStatus(1) == 0)
                        {
                            <a asp-area="" asp-page="/User/OrderListEmptyConfirm" class="nav-order-list__link" style="background-color:rgba(30, 144, 255, 0.1);">
                                <p>Chờ xác nhận</p>
                            </a>
                        }
                        else
                        {
                            <a asp-area="" asp-page="/User/OrderListFillConfirm" class="nav-order-list__link" style="background-color:rgba(30, 144, 255, 0.1);">
                                <p>Chờ xác nhận</p>
                            </a>
                        }
                        @if (Model.GetOrderCountByStatus(2) == 0)
                        {
                            <a asp-area="" asp-page="/User/OrderListEmptyDeliver" class="nav-order-list__link">
                                <p>Chờ giao hàng</p>
                            </a>

                        }
                        else
                        {
                            <a asp-area="" asp-page="/User/OrderListFillDeliver" class="nav-order-list__link">
                                <p>Chờ giao hàng</p>
                            </a>
                        }
                        @if (Model.GetOrderCountByStatus(3) == 0)
                        {
                            <a asp-area="" asp-page="/User/OrderListEmptyReview" class="nav-order-list__link">
                                <p>Chờ đánh giá</p>
                            </a>

                        }
                        else
                        {
                            <a asp-area="" asp-page="/User/OrderListFillReview" class="nav-order-list__link">
                                <p>Chờ đánh giá</p>
                            </a>
                        }
                        @if (Model.GetOrderCountByStatus(4) == 0)
                        {
                            <a asp-area="" asp-page="/User/OrderListEmptyDone" class="nav-order-list__link">
                                <p>Đã đánh giá</p>
                            </a>

                        }
                        else
                        {
                            <a asp-area="" asp-page="/User/OrderListFillDone" class="nav-order-list__link">
                                <p>Đã đánh giá</p>
                            </a>
                        }
                        @if (Model.GetOrderCountByStatus(5) == 0)
                        {
                            <a asp-area="" asp-page="/User/OrderListEmptyCancel" class="nav-order-list__link">
                                <p>Đã hủy</p>
                            </a>
                        }
                        else
                        {
                            <a asp-area="" asp-page="/User/OrderListFillCancel" class="nav-order-list__link">
                                <p>Đã hủy</p>
                            </a>
                        }
                    </div>
                </div>
            </div>

            <div class="col c-8">
                <div class="order-list__title order__title row ">Chờ xác nhận</div>
                <div class="order-list__des--empty"  style="border-radius: 8px;">
                    <div class="shopping-cart__img--empty">
                        <img src="~/img/ico_emptycart.svg" alt="Empty Shopping cart" width=100px>
                    </div>
                    <div class="shopping-cart__text--empty">
                        Danh sách đang trống
                    </div>
                    <button class="btn--blue">
                        <a asp-area="" asp-page="/Index">
                            MUA SẮM NGAY
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>