@page
@model GuestShoppingCartModel
@{
    ViewData["Title"] = "Home page";
}

<div id="shopping-card--empty">
    <div class="grid">
        <div class="row">
            <div class="shopping-card__title col c-10 c-o-1">
                GIỎ HÀNG
                <span class="shopping-card__title-quality">
                        (0 sản phẩm)
                </span>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="shopping-card__card--empty col c-10 c-o-1" style="padding-bottom:24px;border-radius: 8px;">
                <div class="shopping-card__img--empty">
                    <img src="~/img/ico_emptycart.svg" alt="Empty Shopping Card" width=100px>
                </div>
                <div class="shopping-card__text--empty">
                    Vui lòng đăng nhập để sử dụng chức năng này
                </div>
                <button class="btn--blue">
                    <a asp-area="" asp-page="/User/Login">
                        ĐĂNG NHẬP
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>
