.modal-cancel-order.open,
.modal.open {
    display: flex;
}

.modal,
.modal-cancel-order {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

.modal-header {
    font-size: 20px;
    color: var(--primary-color);
    height: 40px;
    line-height: 40px;
    font-weight: 500;
}

.modal-body {
    padding: 0 24px;
}

.modal__col {
    display: block;
}


@keyframes modalFadeIn {
    from {
        transform: translateY(-150px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#order-detail--admin .modal-header,
#order-detail--admin .modal-body .button {
    padding: 30px;
    margin-left: 0;
    margin-right: 0;
}

#order-detail--admin .modal-body .button {
    flex-basis: 35%;
}

#order-detail--admin .modal-body .btn {
    border-radius: 8px;
    text-transform: uppercase;
    border: none;
    font-weight: 700;
    width: 100%;
    font-size: 16px;
    padding: 6px 12px;
}

#order-detail--admin .modal-footer {
    justify-content: space-evenly;
}

#order-detail--admin .modal-body {
    padding: 0;
    margin: 0;
}
