@page
@using TADA.Utilities;
@model InaccessiblePageModel
@{
    ViewData["Title"] = "Trang không thể truy cập";
    ViewBag.Name = HttpContext.Session.GetString("Name");
    Layout = "_LayoutAdmin";
}

<div class="row">
    <div class="col-10 m-0 p-0 content">
        <div class="notification">
            <i class="fa-solid fa-face-sad-tear notification-item"></i>
            <p class="notification-item">Bạn không có quyền truy cập vào trang này !</p>
            <a style="display: block; margin: 30px auto" class="feature-btn add-btn" asp-page="HomePageAdmin">
                QUAY LẠI TRANG CHỦ
            </a>
        </div>
    </div>
</div>
