@page
@model AddCategoryModel
@{
    ViewData["Title"] = "Thêm mới danh mục";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
    ViewBag.Name = HttpContext.Session.GetString("Name");
}

<div class="row">
    <div class="col-10 m-0 p-0 content">
        <div class="form-container">
            <div class="form-heading">
                <p>Thêm mới danh mục</p>
            </div>
            <div class="form-body">
                <form method="post">
                    <div class="form-row form__row">
                        <div class="form-group col-md-6">
                            <label for="inputCategoryName" class="form__label">Tên danh mục</label>
                            <input type="text" class="form-control form__input" id="inputCategoryName" placeholder="Nhập tên danh mục" asp-for="@Model.CategoryName">
                        </div>
                    </div>
                    @if (Model.Message != null)
                    {
                        <p class="row" style="color: red; font-size: 14px; font-weight: 600; margin: 5px">@Model.Message</p>                    
                    }
                    <div class="form-row form__row col-md-6 form__btn-margin">
                        <button class="form-group form__btn" style="margin-right: 4px" type="submit">
                            THÊM MỚI DANH MỤC
                        </button>
                        <button class="form-group form__btn form__btn--cancel" style="margin-left: 4px" asp-area="Category" asp-page="CategoryManagement">
                            HỦY
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</div>
