@page
@model UserInformationModel
@{
    ViewData["Title"] = "Thông tin cá nhân";
    Layout = "~/Pages/Shared/_LayoutUser.cshtml";
}

<div class="container ps-5">
    <div class="row bg-white py-4 mt-3 rounded">
        <div class="col-sm-10 col-md-12 border-0 border-bottom border-2 px-4" style="border-color: #cccccc">
            <div class="col-sm-10 col-md-12 mb-3">
                <h4 class="title" style="font-weight:700; color: var(--primary-color)">Thông tin cá nhân</h4>
            </div>
        </div>
        <div class="user-personal-information mt-2 px-4">
            <div class="form-group d-flex" style="align-items: baseline">
                <label for="name" class="form-label">Họ và tên người dùng</label>
                <input type="text" class="form-control border-0" style="width: 50%" id="name" name="userName"
                       value="Trương Thoại Vỹ" readonly>
            </div>
            <div class="form-group d-flex" style="align-items: baseline">
                <label for="date" class="form-label">Ngày sinh</label>
                <input type="text" class="form-control border-0" style="width: 50%" id="date" name="userDate"
                       value="03/10/2003" readonly>
            </div>
            <div class="form-group d-flex" style="align-items: baseline">
                <label for="gender" class="form-label">Giới tính</label>
                <input type="text" class="form-control border-0" style="width: 50%" id="gender" name="userGender'" value="Nam"
                       readonly>
            </div>
            <div class="form-group d-flex" style="align-items: baseline">
                <label for="telephone" class="form-label">Số điện thoại</label>
                <input type="text" class="form-control border-0" style="width: 50%" id="telephone" name="userTele"
                       value="0764895103" readonly>
            </div>
            <div class="form-group d-flex" style="align-items: baseline">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control border-0" style="width: 50%" id="email" name="userEmail"
                       value="truongthoaivy3102003@gmail.com" readonly>
            </div>
            <div class="form-group d-flex" style="align-items: baseline">
                <label for="address" class="form-label">Địa chỉ</label>
                <input type="text" class="form-control border-0" style="width: 50%" id="address" name="userAddress"
                       value="74 Bàu Năng 1" readonly>
            </div>
            <div class="form-group d-flex" style="align-items: baseline">
                <label for="city" class="form-label">Tỉnh/Thành phố</label>
                <input type="text" class="form-control border-0" style="width: 50%" id="city" name="userCity" value="Đà Nẵng"
                       readonly>
            </div>
            <div class="form-group d-flex" style="align-items: baseline">
                <label for="district" class="form-label">Huyện/Quận</label>
                <input type="text" class="form-control border-0" style="width: 50%" id="district" name="userDistrict"
                       value="Liên Chiểu" readonly>
            </div>
            <div class="form-group d-flex" style="align-items: baseline">
                <label for="ward" class="form-label">Xã/Phường</label>
                <input type="text" class="form-control border-0" style="width: 50%" id="ward" name="userWard" value="Hoà Minh"
                       readonly>
            </div>
            <div class="form-group mt-3">
                <button type="button" class="btn btn-primary btn-md" data-bs-toggle="modal" data-bs-target="#modalInformation"
                        style="width: 350px">
                    Thay đổi thông tin cá nhân
                </button>
            </div>
            <div class="form-group mt-3">
                <button type="button" class="btn btn-primary btn-md" data-bs-toggle="modal" data-bs-target="#modalForgotPwd"
                        style="width: 350px">
                    Đổi mật khẩu
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalForgotPwd" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content rounded-0 border-0">
            <div class="modal-header border-0">
                <h5 class="modal-title" style="color: var(--primary-color)">Đổi mật khẩu</h5>
            </div>
            <div class="modal-body containter-fluid py-0">
                <div class="row">
                    <div class="col-6 form-group">
                        <label for="oldPwd" class="form-label">Mật khẩu hiện tại</label>
                        <input type="text" class="form-control" id="oldPwd" name="userPws" placeholder="Nhập mật khẩu hiện tại">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 form-group">
                        <label for="newPwd" class="form-label">Mật khẩu mới</label>
                        <input type="text" class="form-control" id="newPwd" name="userPwd" placeholder="Nhập mật khẩu mới">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 form-group">
                        <label for="rePwd" class="form-label">Nhập lại mật khẩu</label>
                        <input type="text" class="form-control" id="rePwd" name="userPwd" placeholder="Nhập lại mật khẩu">
                    </div>
                </div>
                <div class="modal-footer border-0 px-0 mt-3 d-flex">
                    <div class="button px-0">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                    </div>
                    <div class="button px-0">
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Đổi mật khẩu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalInformation" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content rounded-0 border-0">
            <div class="modal-header border-0">
                <h5 class="modal-title" style="color: var(--primary-color)">Chỉnh sửa thông tin cá nhân</h5>
            </div>
            <div class="modal-body containter-fluid py-0">
                <div class="row">
                    <div class="col-6 form-group">
                        <label for="changeName" class="form-label">Họ và tên</label>
                        <input type="text" class="form-control" id="changeName" name="userName" placeholder="Nhập họ và tên">
                    </div>
                    <div class="col-6 form-group">
                        <label for="changeAddress" class="form-label">Địa chỉ</label>
                        <input type="text" class="form-control" id="changeAddress" name="userAddress" placeholder="Nhập địa chỉ">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 form-group">
                        <label for="changeDate" class="form-label">Ngày sinh</label>
                        <input type="date" class="form-control" id="changeDate" name="userDate">
                    </div>
                    <div class="col-6 form-group">
                        <label for="changeCity" class="form-label">Tỉnh/Thành phố</label>
                        <select class="form-select custom-select" id="changeCity" name="userCity"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 form-group">
                        <label for="changeGender" class="form-label">Giới tính</label>
                        <select class="form-select custom-select" id="changeGender" name="userGender">
                            <option>Nam</option>
                            <option>Nữ</option>
                        </select>
                    </div>
                    <div class="col-6 form-group">
                        <label for="changeDistrict" class="form-label">Huyện/Quận</label>
                        <select class="form-select custom-select" id="changeDistrict" name="userDistrict"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 form-group">
                        <label for="changeTele" class="form-label">Số điện thoại</label>
                        <input type="text" class="form-control" id="changeTele" name="userTele" placeholder="Nhập số điện thoại">
                    </div>
                    <div class="col-6 form-group">
                        <label for="changeWard" class="form-label">Xã/Phường</label>
                        <select class="form-select custom-select" id="changeWard" name="userWard"></select>
                    </div>
                </div>
                <div class="modal-footer border-0 px-0 mt-3 d-flex">
                    <div class="button px-0">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                    </div>
                    <div class="button px-0">
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Lưu thông tin</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
